.accountList {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;

    
    @include media('>=desktop') {
        font-size: rem(11px);
        
    }
    
    
    &__item {
        color: color(b);
        height: auto;
        flex: 1 1 auto;
        text-align: center;
       
        
        @include media('>=desktop') {
            border-right: 1px solid color(b);

        }
        
    }

    &__link--active {
        background-color: color(orgbtn);

        @include media('>=desktop') {
            text-decoration: underline;
            background-color: transparent;
            color: color(b);

        }
        
    }

    &__item--last {
        border-right: none;
        
    }

    &__item:hover {
        background-color: color(orgbtn);
        color: color(w);

        @include media('>=desktop') {
            text-decoration: underline;
            background-color: transparent;
            color: color(b);

        }
        
    }

    &__link {
        text-decoration: none;
        color: color(b);
        display: block;
        padding: 1.5rem;
        transition: all .2s ease-in;
        cursor: pointer;
        
        @include media('>=desktop') {
            
            padding: 0 25px;
        
        }
    }


    &__link:hover {
        color: color(w);

        @include media('>=desktop') {
            text-decoration: underline;
            background-color: transparent;
            color: color(b);

        }
    }
}