.brand {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
       
        
    }
    
    &__link {

    }

    &__img {
        margin: 0 25px;

        @include media('>=phone-m') {
            margin: 0 40px;
        }

        @include media('>=phone-l') {
            margin: 0 25px;
        }

        @include media('>=tablet') {
            margin: 0 30px;
        }
        @include media('>=tablet-l') {
            margin: 0 60px;
        }

        @include media('>=desktop') {
            margin: 0 35px;
        }
    }
}