.btn {
    display: block;
    text-align: center;
    vertical-align: middle;
    color: color(w);
    background-color: color(orgbtn);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    
    &:hover {
        color: color(b);
    }

    &__carousel {
        width: 80px;
        height: 30px;
        font-size: rem(12px);
        padding: 1rem 0;
        margin: 1rem 0;
        position: absolute;
        top: 120px;

        @include media('<=phone') {
            top: 110px;
        }

        
        

        @include media('>=phone') {
            top: 135px;
            width: 100px;
        }

        @include media('>=560px', '<=570px') {
            font-size: rem(20px);
            width: 140px;
            height: 40px;
            top: 200px;
            
        }
        @include media('>=phone-l') {
            top: 215px;
            width: 140px;
            font-size: rem(18px);
            padding: 1.3rem 0;
            height: 40px;
        }

        @include media('>=tablet') {
            font-size: rem(20px);
            width: 160px;
            height: 40px;
            padding: 1.1rem 0;
            top: 250px;
        }

        @include media('>=tablet-l') {
            font-size: rem(26px);
            width: 200px;
            height: 55px;
            padding: 1.5rem 0;
            top: 300px;
        }

        @include media('>=desktop') {
            font-size: rem(26px);
            width: 210px;
            height: 55px;
            padding: 1.5rem 0;
            top: 390px;
        }

        
    }

}

