.carousel { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
   

    &__box {
        position: absolute;
        top: 30px;
        border: 2px solid color(w);
        outline: 1px solid color(w);
        outline-offset: -10px;
        text-align: center;
        padding: 10px;
        width: 100px;
        text-transform: uppercase;
       
        @include media('<=phone') {
            top: 20px;
        }

        @include media('>=phone') {
            width: 120px;
            
        }

        @include media('>=560px', '<=570px') {
            width: 160px;
            top: 40px;
        }

        @include media('>=phone-l') {
            width: 160px;
            top: 50px;
            padding: 20px;
        }

        @include media('>=tablet') {
            width: 200px;
            padding: 20px;
        }

        @include media('>=tablet-l') {
            width: 220px;
            padding: 20px;
            top: 60px;
        }

        @include media('>=desktop') {
            width: 280px;
            padding: 40px;
            top: 100px;
        }
        
        
    }

    &__img {
        display: block;
        width: 100%;
        
    }

    &__t-h2, &__t-h5 {
        color: color(b);
        padding: 5px 0;
        font-size: rem(10px);

        @include media('>=phone') {
            font-size: rem(14px);
        }

        @include media('>=560px', '<=570px') {
            font-size: rem(34px);
        }

        @include media('>=phone-l') {
            font-size: rem(34px);
        }

        @include media('>=tablet-l') {
            font-size: rem(40px);
            padding: 10px 0;
        }

        @include media('>=tablet') {
            font-size: rem(50px);
        }

    }

    &__t-h3 {
        color: color(w);
        padding: 5px 0;
        font-size: rem(5px);

        @include media('>=phone') {
            font-size: rem(8px);
        }

        @include media('>=560px', '<=570px') {
            font-size: rem(14px);
        }

        @include media('>=phone-l') {
            font-size: rem(12px);
        }

        @include media('>=tablet') {
            font-size: rem(16px);
            
        }

        @include media('>=tablet-l') {
            font-size: rem(22px);
        }
    }

    &__t-h5 {
        font-size: rem(8px);

        @include media('>=phone') {
            font-size: rem(12px);
        }

        @include media('>=560px', '<=570px') {
            font-size: rem(24px);
        }

        @include media('>=phone-l') {
            font-size: rem(18px);
        }

        @include media('>=tablet') {
            font-size: rem(26px);
            
        }

        @include media('>=tablet-l') {
            font-size: rem(30px);
        }

    }

}


.slider {
    @include media('>=phone-l') {

    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 15px 0;

    @include media('>=desktop') {
        
        margin-top: 130px;
    }

    &__item {
        display: block;
        width: 15px;
        height: 15px;
        background-color: color(csqr);
        margin: 0 10px;
        transform: rotate(45deg);
        cursor: pointer;
    }

    &__item--active {
        background-color: color(b);
        color: color(b);
    }
    }
}