.collection {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    

    &__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        
        
    
        @include media('>=phone-l') {
            flex-flow: row wrap;
            justify-content: space-between;
            
            }

            @include media('>=tablet') {
                flex-flow: row wrap;
                justify-content: space-between;
                
            }

            @include media('>=desktop') {
                justify-content: space-between;
                
            }
            
        }

    

    &__box {
        margin: 15px;
        position: relative;
        
        @include media('>=desktop') {
            margin: 15px 5px;
            
        }
    }

    &__img {
        width: 100vw;
        padding: 0 15px;

        @include media('>=phone-l') {
            width: 45vw;
            flex: 1 1 auto;
            padding: 0;
            
        }

        @include media('>=tablet', '<=tablet-l') {
            width: 25vw;
            flex: 1 1 auto;
        }
        
        @include media('>=desktop') {
            width: 23vw;
            flex: 1 1 auto;
        }
        
    }
    &__box--discounted {
       border-radius: 50%;
       border: 1px solid color(orgbtn);
       background-color: color(orgbtn);
       width: 50px;
       height: 50px;
       text-align: center;
       vertical-align: middle;
       padding: 15px 0;
       position: absolute;
       top: 15px;
       left: 25px;

       @include media('>=phone-l', '<=tablet') {
        width: 50px;
        height: 50px;
        top: 5px;
        left: 10px;
        
       }

       @include media('>=tablet', '<=desktop') {
            width: 35px;
            height: 35px;
            top: 5px;
            left: 10px;
            padding: 10px 0;
            font-size: rem(12px);
       }

       @include media('>=desktop') {
            width: 50px;
            height: 50px;
            top: 5px;
            left: 10px;
            padding: 15px 0;
            font-size: rem(16px);
       }


    }

    &__button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        padding: .7rem;
        width: 140px;
        height: 30px;
        display: block;
        transition: all .5s linear, ease;
        cursor: pointer;
        background-color: color(b);

        @include media('>=tablet', '<=tablet-l') {
            width: 120px;
            font-size: rem(14px);

        }
        
    }

    &__button::before {
        border-left: 30px solid transparent;
        left: -30px;
    }

    &__button::after {
        border-right: 30px solid transparent;
        left: 140px;

        @include media('>=tablet', '<=tablet-l') {
            left: 120px;

        }

    }

    &__button::before, &__button::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        border-bottom: 30px solid color(b);
        
    }

    &__button:hover {
        background-color: color(orgbtn);
        color: color(w);
        transition: all .5s ease;

         &::before, &::after {
            border-bottom: 30px solid color(orgbtn);
            transition: all .5s ease;
            cursor: pointer;
            
        }
        
    }
    
}
