.customers {
    
   
  
    &__content {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        
        
        
        &::before {
            content:'';
            position: absolute;
            border-left: 150px solid transparent;
            border-right: 150px solid transparent;
            border-top: 35px solid color(w);
            left: 50%;
            top: 0;
            transform: translatex(-50%);
      
        }

        @include media('>=phone-l') {
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }

    &__box {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding: 20px;
        width: 100%;
        background-color: color(sbox);

        @include media('>=phone-l') {
            justify-content: flex-end;

            &:nth-child(odd) {
                justify-content: flex-start;
            }

        }

    }

    &__description {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-self: flex-end;
        text-align: right;
        flex: 1 1 auto;
        

        &:nth-child(odd) {
            text-align: left;
        }

        @include media('>=phone-l') {
            text-align: left;

            &:nth-child(odd) {
                text-align: right;
            }
        }
    }

    &__text {
        font-size: rem(18px);
        font-weight: lighter;
        color: color(w);
        line-height: rem(20px);
        font-style: italic;
    }

    

    &__person {
        width: 180px;
        

        @include media('>=phone-m') {
            width: 220px;
        }
    }

    &__name {
        font-size: rem(20px);
        margin: 25px 0 15px 0;
        font-weight: normal;
        color: color(b);
        font-style: italic;
    }

    &__position {
        font-size: rem(13px);
        font-weight: normal;
        color: color(posclr);
        font-style: italic;
        text-transform: uppercase;
        
    }
}

.customersbg {
    background-color: color(sbox);
    width: 100%;
}
