.footer {
    background-color: color(footerbg);
   
    position: relative;

    &__navbox {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        padding: 30px 0;
        border-bottom: 1px solid color(footerlink);

        @include media('>=tablet-l') {
            flex-flow: row nowrap;
            justify-content: space-between;

        }
        
    }


    &__navbox::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 89.1%;
        transform: translatex(-50%);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 10px solid color(footerlink);

       

        @include media('>=tablet-l') {
            top: 72.3%;
        }
    }

    &__box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        

        @include media('>=tablet-l') {
            flex: 1 1 auto;
        }
       
    }

    &__box--disable {
        
        display: none;

        @include media('>=tablet-l') {
            display: flex;
        }
    }

    &__title {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: rem(16px);
        text-transform: uppercase;
        color: color(w);
        margin: 10px;

        @include media('>=tablet-l') {
            padding-bottom: 30px;
        }
    }

    &__copybox {
        display: flex;
        justify-content: space-between;
        margin: 20px 10px;

        @include media('>=tablet-l') {
            margin: 20px 0;
        }
    }

}

.navi {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: rem(14px);


    &__item {
       
    

    
    }

    &__link {
        color: color(footerlink);
        background-color: transparent;
        text-decoration: none;
        display: block;
        padding: 20px 0 20px 10px;

        @include media('>=tablet-l') {
            padding: 5px 10px;
            display: inline-block;
        }

    }

    &__link:hover {
        background-color: color(orgbtn);

        @include media('>=tablet-l') {
            
            background-color: transparent;
            text-decoration: underline;
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
    }

    &--socials {
        display: flex;
        
        margin-bottom: 30px;
    }
}

.form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 1px solid color(footerlink);
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: rem(12px);
    padding: 2px;
    margin: 0 10px;
    width: 350px;

    &__input {
        background-color: transparent;
        color: color(footerlink);
        flex: 0 0 70%;
        border: none;
        padding: 10px 0 10px 15px;
    }

    &__submit {
        background-color: color(formbtn);
        border: none;
        text-transform: uppercase;
        color: color(w);
        padding: 10px 15px;
        flex: 0 0 30%;
    }
}


.copy {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;

    &__text {
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        font-size: rem(12px);
        color: color(footerlink);
        padding: 5px 0;
    }
}

.cards {

    display: flex;
    flex-flow: row nowrap;
    
    padding: 10px 0;

    &__item {
        padding: 0 3px;
    }

    &__icon {
        width: 21px;
        height: 10px;
    }
}

.topbtn {
    font-size: rem(25px);
    background-color: color(b);
    color: color(w);
    border: 1px solid color(b);
    border-radius: 20%;
    text-decoration: none;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    cursor: pointer;
}