.hand {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    

    &__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        @include media('>=phone-l') {
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            
            
        }
       
    }

    &__box {
        
    }

    &__minibox {
        margin: 15px;
        position: relative;

        @include media('>=desktop') {
            margin: 15px 5px;
            
        }

    }

    &__bigbox {
        margin: 5px 15px;
        position: relative;
        

    }

    &__minibox::before, &__bigbox::before {

        @include media('>=desktop') {
        content: '';
        position: absolute;
        top: 20px;
        left: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        background-color: color(b);
        opacity: 0;
        }
    }

    &__minibox:hover::before, &__bigbox:hover::before {

        @include media('>=desktop') {
        opacity: .7;
        }
    }
    


    &__img {
        width: 100%;
        outline-offset: -20px;
        outline: 2px solid color(w);

        
    }

    &__bigimg {
        width: 100%;
        outline-offset: -20px;
        outline: 2px solid color(w);

        
    }


    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 100%);
        padding: 1rem;
        width: 120px;
        height: 50px;
        padding-top: 17px;
        opacity: 1; 
        display: block;
        transition: all .3s ease-in;
        cursor: pointer;

        @include media('>=phone-l', '<=tablet') {
            width: 120px;
            height: 35px;
            padding: .9rem;
            font-size: rem(16px);
            
        }

        @include media('>=desktop') {
            opacity: 0;
        }
    }

    &__minibox > &__button {
        top: 80%;
        transform: translate(-50%, -50%);
    }
    
    &__bigbox > &__button {
        top: 80%; 
        transform: translate(-50%, 40%);
    }

    &__minibox:hover > &__button {

        @include media('>=desktop') {
        opacity: 1;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
    }

    &__bigbox:hover > &__button {

        @include media('>=desktop') {
        opacity: 1;
        top: 105%;
        left: 50%;
        transform: translate(-50%, -380%);
        }
    }

}
