.header {
    

    @include media('>=desktop') {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        
    }
    
    
    &__navigation {
        order: 2;

        @include media('>=desktop') {
            order: 1;
            width: 35%;
        }
    }

    &__logoLink {
       display: block;
       text-align: center;
        order: 1;
        

        @include media('>=desktop') {
            order: 2;
            text-align: center;
            width: 30%;
            
        }
    }

    &__logo {
        width: 234px;
        height: 80px;
        margin: 20px auto;
       
        
    }

    &__rightBox {
        order: 3;
        display: none;

        @include media('>=desktop') {
            order: 3;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            width: 35%;
        }
    }

}

.menu {
    
   
    
    width: 100%;
    border-bottom: 1px solid color(b);
    font-family: 'Playfair Display', serif;
    font-size: rem(18px);
    font-style: italic;
    

    @include media('>=desktop') {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        border: none;
            
    }

    &__item {
        
        
        
        text-align: center;
        background-color: color(orgbtn);
        border-top: 1px solid color(b);

        @include media('>=desktop') {
            display: block;
            border: none;
            
            background-color: transparent;
            padding-right: 35px;
            width: auto;
            height: 20px;
            color: color(b);
        }

    }   
   

    &__link {
        display: block;
        text-decoration: none;
        color: color(w);
        padding: 1.5rem 0;
        transition: .2s ease-in;
        cursor: pointer;
        

        @include media('>=desktop') {
            
            color: color(b);
            background-color: transparent;
            padding: 0;
        
        }
    }

    &__link:hover {
        background-color: color(b);
        color: color(orgbtn);

        @include media('>=desktop') {
            text-decoration: underline;
            background-color: transparent;
            color: color(b);
        }
    }
}

.socials {
    display: flex;
    flex-flow: row nowrap;
    

    &__item {
        padding: 0 7px;
    }

    &__link {

    }

    &__icon {
        width: 30px;
        height: 30px;
    }
}

.formValue {
    
    
    height: 30px;
    margin-left: 50px;
    

    &__choice {
        overflow: hidden;
        text-align: right;
        width: 100px;
        height: 30px;
        background-color: color(b);
        color: color(w);
        border: none;
        
    }
}