.title {
    position: relative;
    text-align: center;
    margin: 50px 0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    font-size: rem(15px);
    line-height: 1.1rem;
    

    
    @include media('>=tablet') {
        font-size: rem(28px);
        
        height: 25px;
        
    }

    @include media('>=desktop') {
        width: 1360px;
        margin: 50px auto;
        
    }

    &::before, &::after {
        content:'';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: color(sbox);
        transform: rotate(45deg);
        
        @include media('>=tablet') {
            width: 15px;
            height: 15px;
        }
        
    }

    &::before {
        top: 2px;
        left: 25%;

       
       
    }

    &::after {
        top: 2px;
        right: 25%;

       
    }

    &--hr {
        display: inline-block;
    

        &::before, &::after {
            content: '';
            position: absolute;
            border-top: 1px solid color(h1line);
            top: 7px;
            width: 15%;
            
        }

        &::before {
            right: 40%;
            margin-right: 40%;

            
        }

        &::after {
            left: 40%;
            margin-left: 40%;

            
        }
    }
    
}