html {
  @include rem-baseline;
  font-family: 'Lato', sans-serif;
  /*font-family: 'Playfair Display', serif;*/
  font-size: 62.5%;
}

body {
  background-color: color(w);
  color: color(b);
  font-size: rem(16px);
}

.layout {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: color(w);
  

  &__header {
    

  }

  &__carousel {
    background: linear-gradient(#746e6a, #86817c);
    
  }

  &__shipping {

  }

  &__hand {
    
  }

  &__collection {
    
  }

  &__brand {
    
  }

  &__customers {
    
    
  }

  &__footer {
    background-color: color(footerbg);
    width: 100%;
  }
}