.shipping {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    
    
    @include media('>=desktop') {
        flex-flow: row nowrap;
        margin-top: 50px;
        

    }

    &__box1, &__box2, &__box3 {
        display: block;
        width: 100%;
        padding: rem(10px);
        background-color: color(sbox);
        color: color(w);
        position: relative;
        
        @include media('>=desktop') {
            padding-left: 40px;
            width: 33%;
        }
    }
    
    &__box2 {
        background-color: color(b);
    }

    &__box1 {
        @include media('>=desktop') {
            padding-left: 20px;
        }
    }
    
    &__icon {
        
        width: 35px;
        height: 35px;
        position: absolute;
        top: 17px;
        left: 15px;
        
        @include media('>=desktop') {
        
        left: 40px;

        
        }

        
        
    }

    &__icon--first {
        @include media('>=desktop') {
        
            left: 20px;
    
            
            }
    }
    
    
    &__box1::after, &__box3::after {

        @include media('>=desktop') {
        content: '';
        position: absolute;
        top: 0;
        border-top: 36px solid color(w);
        border-bottom: 36px solid color(w);
        }
    }
    &__box1::after {

        @include media('>=desktop') {
        border-left: 30px solid color(sbox);
        right: 0;
        }
    }

    &__box3::after {

        @include media('>=desktop') {
        border-right: 30px solid color(sbox);
        left: 0;
        }
    }

    &__box2::before, &__box2::after {
        @include media('>=desktop') {
        content:'';
        position: absolute;
        top: 0;
        border-top: 36px solid color(b);
        border-bottom: 36px solid color(b);
        }
    }

    &__box2::before {
        @include media('>=desktop') {
            
            border-left: 30px solid color(w);
            left: 0;
        }
    }

    &__box2::after {
        @include media('>=desktop') {
            border-right: 30px solid color(w);
            right: 0;
            }
        }

    &__s-h3 {
        font-size: rem(30px);
        
    }

    &__s-h5 {
        font-size: rem(14px);
        
    }

    &__s-h3, &__s-h5 {
        font-weight: normal;
        padding: rem(2px 40px);
        margin-left: 10px;

    }

    
}

