.top {
    background-color: color(topbg);
    font-size: rem(11px);
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    display: flex;
    flex-flow: column nowrap;

    @include media('>=desktop') {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 30px;
    }
    

    &__call {
        display: none;

        @include media('>=desktop') {
            display: block;
            margin: 5px 0 5px 15px;
        }

    }

    &__call::before {
        content: '';
        position: absolute;
        background-image: url('./images/phone.svg');
        top: 11px;
        left: 0;
        width: 10px;
        height: 10px;
        
    }

    &__link {
        text-decoration: none;
        color: color(b);
        
    }

    &__link:hover {
        text-decoration: underline;
    }
}

.topbg {
    background-color: color(topbg);
    width: 100%;
    
    
}

